@import "tailwindcss";

@theme {
  --color-lightBodyBackground: #f4f1e9;
  --color-primary-font: #1d3557;
  --color-primary: #bb8588;
  --color-secondary: #a3a380;

  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-redT: #9e2a2b;
  --color-orangeT: #e09f3e;
  --color-greenT: #6a994e;
  --color-blueT: #219ebc;

  --animate-fade-in: fade-in 300ms ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out 300ms ease-in;

  @keyframes fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}

body {
  background-color: var(--color-lightBodyBackground);
}
